@model sumarauto.DataModel.MakeDetailAction

@{
    ViewBag.Title = "AutoMakeAction";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="product-container py-2 dow_page_con">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-between align-items-baseline">
            <!-- Page header -->
            <div class="mb-4">
                <h4 class="mb-0">@(Model != null && Model.Id > 0 ? "Edit -Auto Make" : "Add - Auto Make")</h4>
            </div>
            <div>
                <p class="m-0">
                    <a class="text-danger" href="/admin/MakeList?Id=@ViewBag.AutoPartId">Back to List</a>
                </p>
            </div>
        </div>
    </div>
    <div>
        <form id="Create">
            <input type="text" class="d-none" id="Id" value="@Model.Id" name="Id" />
            <input type="text" class="d-none" id="AutoPartId" value="@ViewBag.AutoPartId" name="AutoPartId" />
            <input type="text" class="d-none" id="AutoPartSId" value="@Model.AutoPartSId" name="AutoPartSId" />
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <div class="mb-3">
                                    <label class="form-label">Make</label> <small><strong class="text-danger"> (*required)</strong></small>
                                    <select class="form-select" aria-label="Default select example" id="MakeId" name="MakeId">
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Model</label>
                                    <input type="text" value="@Model.Model" name="Model" class="form-control" placeholder="Enter Title">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Engine</label>
                                    <input type="text" value="@Model.Engine" name="Engine" class="form-control" placeholder="Enter Engine">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Liter</label>
                                    <input type="text" value="@Model.Liter" name="Liter" class="form-control" placeholder="Enter Liter">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Chassis</label>
                                    <input type="text" value="@Model.Chassis" name="Chassis" class="form-control" placeholder="Enter Chassis">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Display Order</label>
                                    <input type="text" value="@Model.DisplayOrder" name="DisplayOrder" class="form-control" placeholder="Enter Display Order">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Published</label>
                                    <select name="Status" class="form-select" aria-label="Default select example">
                                        <option value="true" selected>Published</option>
                                        <option value="false">UnPublished</option>
                                    </select>
                                </div>
                                <div class="d-grid">
                                    <button id="CreateBtn" type="button" class="btn btn-primary w-100 p-2">
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var mId = '@Model.MakeId';
        getMakeListData(mId);
    });
    async function getMakeListData(mId) {
        var response = await fetch("/Helper/GetMakedownList");
        var result = await response.json();
        let htmlString = '<option value=""> Select Make</option>';
        const makeSelectList = document.getElementById("MakeId");
        if (result != null && makeSelectList) {
            for (var i = 0; i < result.length; i++) {
                htmlString += `<option value="${result[i].Value}" ${mId == result[i].Value ? "selected" : ""}>${result[i].Text}</option>`;
            }
            makeSelectList.innerHTML = htmlString;
        }
    }
    $("#Create").validate({
        rules: {
            Title: {
                required: true,
            },
        },
        messages: {
            Title: {
                required: '*Title is required',
            },
        }
    });
    const CreateBtn = document.getElementById("CreateBtn");
    if (CreateBtn) {
        CreateBtn.addEventListener("click", function () {
            const spinnerborder = document.querySelector(".spinner-border");
            spinnerborder.classList.remove("d-none");
            CreateBtn.setAttribute("disabled", true);


            var formData = $("#Create").serialize();
            if ($("#Create").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AutoMakeAction")',
                data: formData,
                success: function (response) {
                    if (response.success == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Auto Make details updated',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/admin/MakeList?Id=@ViewBag.AutoPartId";
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.Message,
                        })
                    }
                },
                error: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                },
                complete: function (response) {
                    spinnerborder.classList.add("d-none");
                    CreateBtn.removeAttribute("disabled");
                },
            });
        }
        else {
            spinnerborder.classList.add("d-none");
            CreateBtn.removeAttribute("disabled");
        }
        });
    }
</script>



