@model Model.Blogs
@{
    ViewBag.Title = "Name of the blog here";
    ViewBag.Description = "description first 100 charactres here + ..";
    ViewBag.Image = "/Content/Images/blog-1.jpg";
}

<style>
    .blog-head {
        padding: 3rem 0 1.5rem;
    }
    
    .blog small{
        color: var(--primary);
    }

    .blog-desc{
        padding: 3rem 0 5rem;
    }

    .blogs{
        padding:3rem 0 5rem;
    }

    @@media(max-width:500px){
        .blog-head h2 {
            font-size: 2rem;
        }
    }
</style>

<div class="container">
    <div class="blog">
        <div class="blog-head">
            <h2>
              @Model.Title
            </h2>
            <small>@Model.Date.ToString("dd MMM yyyy")</small>
        </div>

        <img src="@Model.Image" alt="Blog Image"/>

        <div class="blog-desc">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>

@Html.Action("_BlogsPartial")