@{
    string webname = "sumarauto.com";
    string webImg = webname + (ViewBag.Image == ""  ? "/content/images/logo.png" : ViewBag.Image);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Auto parts Dubai,Car spare parts Dubai,Dubai auto parts store,Dubai auto parts store,Car accessories Dubai,
          Genuine car parts Dubai,Online auto parts UAE,OEM auto parts Dubai,Aftermarket car parts Dubai,Cheap car parts Dubai,Best auto parts
          Dubai,Brake pads Dubai,Brake pads Dubai,Auto parts delivery Dubai,Auto parts delivery Dubai,Auto parts delivery Dubai,Luxury car parts Dubai,
          4x4 auto parts Dubai,Car batteries DubaiTyres and rims Dubai" />
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@webname" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@webImg" />


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <style>
        .navbar a {
            color: var(--text)
        }
        .nav-active{
            color:var(--primary) !important;
            font-weight:500;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="container nav-boxx">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-8 navbar-logo"><a href="/Home/Index"><img src="~/Content/Images/logo.svg" alt="logo" /></a></div>
                <div style="z-index: 2;" class="col-lg-12 col-md-4 col-4 navbar-menu sticky">
                    <nav>
                        <ul>
                            <li><a class="nav-active" href="/">HOME</a></li>
                            <li><a href="/Products">PRODUCTS</a></li>
                            <li><a href="/about">ABOUT US</a></li>
                            <li><a href="/contact-us">CONTACT</a></li>
                            <li><a href="/blogs">BLOGS</a></li>
                        </ul>
                    </nav>
                    <div class="navbar-icon">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-bar" id="s-bar">
        @Html.Partial("_Search")
    </div>

    <div class="body">
        @RenderBody()
    </div>

    <footer class="">
        <div style="padding:1rem 0" class="footer-logo">
            <a href="/Home/Index"><img  src="~/Content/Images/logo-footer.svg" /></a>
        </div>
        <div class="d-lg-flex d-md-flex d-block justify-content-center">
            <div><a class="foot-q-link" href="/">HOME</a></div>
            <div><a class="foot-q-link" href="/about">ABOUT US</a></div>
            <div><a class="foot-q-link" href="/contact-us">CONTACT</a></div>
            <div><a class="foot-q-link" href="/blogs">BLOGS</a></div>
        </div>
        <div class="footer-icons" id="footerSocialMedia">

        </div>
        <div class="footer-copy">
            <p style="margin-bottom:0; padding-bottom:1rem;">
                © Copyright Sumaru Auto 2024
            </p>
        </div>
    </footer>

    <div class="sticky-button">
        <a href="https://wa.me/919004755779text=Hey%21+I+came+across+Sumaru+Auto+Parts+website.+Liked+some+of+the+products.+can+we+connect+regarding+this.%0D%0AThank+you." class="fixed-button"><i class="bi bi-whatsapp"></i></a>
    </div>

    <script>
        // Function to handle nav item click
        document.querySelectorAll('nav ul li a').forEach(navItem => {
            navItem.addEventListener('click', function () {
                // Store the clicked nav item's href in localStorage
                localStorage.setItem('activeNavItem', this.getAttribute('href'));
            });
        });

        // Function to apply the active class on page load
        window.addEventListener('DOMContentLoaded', (event) => {
            // Get the stored href from localStorage
            const activeNavItem = localStorage.getItem('activeNavItem');

            if (activeNavItem) {
                // Remove the 'nav-active' class from all nav items
                document.querySelectorAll('nav ul li a').forEach(navItem => {
                    navItem.classList.remove('nav-active');
                });

                // Find the nav item with the stored href and add 'nav-active' class
                const activeElement = document.querySelector(`nav ul li a[href="${activeNavItem}"]`);
                if (activeElement) {
                    activeElement.classList.add('nav-active');
                }
            }
        });

        $('.navbar-icon').click(function () {
            $(this).toggleClass("active");
            $(".navbar-menu nav").toggleClass("active");
        });

        window.onscroll = function () { handleScroll() };

        function handleScroll() {
            var navbarLogo = document.querySelector('.navbar-logo');
            var navbarMenu = document.querySelector('.navbar-menu');

            if (window.pageYOffset > navbarLogo.offsetHeight) {
                navbarLogo.classList.add("sticky-logo-hidden");
                navbarMenu.classList.add("sticky-active");
            } else {
                navbarLogo.classList.remove("sticky-logo-hidden");
                navbarMenu.classList.remove("sticky-active");
            }
        }
        const footerSocialMedia = document.getElementById("footerSocialMedia");
        document.addEventListener("DOMContentLoaded", function () {
            getKeys();
            async function getKeys() {
                try {
                    const response = await fetch('/Helper/GetKeys', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (!response.ok) {
                        throw new Error('Something went worng!');
                    }
                    const data = await response.json();
                    if (data != null) {
                        data.filter(item => item.Type === 'SocialMedia' && item.Value != "").forEach(item => {
                            footerSocialMedia.innerHTML += `<a class="pr-1" href="${item.Value}" target="_blank"><i class="bi bi-${item.Title}"></i></a>`;
                        });
                        //Contact Form
                        const BrandInfo = document.getElementById("BrandInfo-List");
                        if (BrandInfo) {
                            let brandInfoKeys = data.filter(item => item.Type === 'BrandInfo' || item.Type === "ContactMail");
                            const telephone = document.getElementById("telephone");
                            const telephoneplus = document.getElementById("telephone-plus");
                            const printer = document.getElementById("printer");
                            const email = document.getElementById("emailBrandInfo");
                            const dyAddress = document.getElementById("dyAddress");
                            brandInfoKeys.forEach(itemBIK => {
                                if (itemBIK.Title === "Address" && dyAddress) {
                                    dyAddress.innerHTML = itemBIK.Value;
                                }
                                if (itemBIK.Title === "telephone" && telephone) {
                                    let teplephone = itemBIK.Value.split(',');
                                    telephone.innerHTML = `<i class="bi bi-telephone"></i>&nbsp ${teplephone[0]}`;
                                    telephoneplus.innerHTML = `<i class="bi bi-telephone-plus"></i>&nbsp ${teplephone[1]}`;
                                }
                                if (itemBIK.Title === "Email" && email) {
                                    email.innerHTML =`<a href="mailto:${itemBIK.Value}"><i class="bi bi-envelope"></i>&nbsp ${itemBIK.Value}</a>`;
                                }
                                if (itemBIK.Title === "Message" && printer) {
                                    printer.innerHTML = `<i class="bi bi-printer"></i>&nbsp ${itemBIK.Value}`;
                                }
                            });

                        }
                    }
                } catch (error) {
                    console.error('Error fetching page data:', error);
                }
            }
        });
    </script>
</body>
</html>
