@{
    string webname = "sumarauto.com";
    string webImg = webname + (ViewBag.Image == ""  ? "/content/images/logo.png" : ViewBag.Image);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Auto parts Dubai,Car spare parts Dubai,Dubai auto parts store,Dubai auto parts store,Car accessories Dubai,
          Genuine car parts Dubai,Online auto parts UAE,OEM auto parts Dubai,Aftermarket car parts Dubai,Cheap car parts Dubai,Best auto parts 
          Dubai,Brake pads Dubai,Brake pads Dubai,Auto parts delivery Dubai,Auto parts delivery Dubai,Auto parts delivery Dubai,Luxury car parts Dubai,
          4x4 auto parts Dubai,Car batteries DubaiTyres and rims Dubai" />
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@webname" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@webImg"/>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />


    <link href="~/Content/animate.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>


</head>
<body>
    <div class="navbar">
        <div class="container nav-boxx">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-8 navbar-logo"><a href="/Home/Index"><img src="~/Content/Images/logo.svg" alt="logo" /></a></div>
                <div style="z-index: 2;" class="col-lg-12 col-md-4 col-4 navbar-menu sticky">
                    <nav>
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/Products">PRODUCTS</a></li>
                            <li><a href="/Home/About">ABOUT US</a></li>
                            <li><a href="/Home/Contact">CONTACT</a></li>
                            <li><a href="/Home/Blogs">BLOGS</a></li>

                        </ul>
                    </nav>
                    <div class="navbar-icon">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-bar">
        @Html.Partial("_Search")
    </div>

    <div class="body">
        @RenderBody()
    </div>

    <footer class="">
        <div style="padding:1rem 0" class="footer-logo">
            <a href="/Home/Index"><img  src="~/Content/Images/logo-footer.svg" /></a>
        </div>
        <div class="d-lg-flex d-md-flex d-block justify-content-center">
            <div><a class="foot-q-link" href="/">HOME</a></div>
            <div><a class="foot-q-link" href="/Home/About">ABOUT US</a></div>
            <div><a class="foot-q-link" href="/Home/Contact">CONTACT</a></div>
            <div><a class="foot-q-link" href="/Home/Blogs">BLOGS</a></div>
        </div>
        <div class="footer-icons">
            <a class="pr-1" href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="pr-1" href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="pr-1" href="" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="footer-copy">
            <p style="margin-bottom:0; padding-bottom:1rem;">
                © Copyright Sumaru Auto 2024
            </p>
        </div>
    </footer>

    <div class="sticky-button">
        <a href="https://wa.me/919004755779text=Hey%21+I+came+across+Sumaru+Auto+Parts+website.+Liked+some+of+the+products.+can+we+connect+regarding+this.%0D%0AThank+you." class="fixed-button"><i class="bi bi-whatsapp"></i></a>
    </div>

    <script>
        $('.navbar-icon').click(function () {
            $(this).toggleClass("active");
            $(".navbar-menu nav").toggleClass("active");
        });

        window.onscroll = function () { handleScroll() };

        function handleScroll() {
            var navbarLogo = document.querySelector('.navbar-logo');
            var navbarMenu = document.querySelector('.navbar-menu');

            if (window.pageYOffset > navbarLogo.offsetHeight) {
                navbarLogo.classList.add("sticky-logo-hidden");
                navbarMenu.classList.add("sticky-active");
            } else {
                navbarLogo.classList.remove("sticky-logo-hidden");
                navbarMenu.classList.remove("sticky-active");
            }
        }
    </script>
</body>
</html>
